In [1]:
import pandas as pd

In [30]:
county_beds_df = pd.read_csv("County Beds.csv")
county_beds_df = county_beds_df.rename(columns={"County":"county", "State":"state"})
county_cases_df = pd.read_csv("covid19_us_county.csv")
county_combined=pd.merge(county_cases_df,county_beds_df,on=['county','state'], how='left')

In [31]:
county_beds_df

,county,state,ICU Beds,Total Population,Population Aged 60+,Percent of Population Aged 60+,Residents Aged 60+ Per Each ICU Bed
0,Autauga,Alabama,6,55036,10523,19.1,1754.0
1,Baldwin,Alabama,51,203360,53519,26.3,1049.0
2,Barbour,Alabama,5,26201,6150,23.5,1230.0
3,Bibb,Alabama,0,22580,4773,21.1,NaN
4,Blount,Alabama,6,57667,13600,23.6,2267.0
...,...,...,...,...,...,...,...
3137,Sweetwater,Wyoming,10,44527,7015,15.8,702.0
3138,Teton,Wyoming,6,22923,4298,18.7,716.0
3139,Uinta,Wyoming,6,20758,3554,17.1,592.0
3140,Washakie,Wyoming,0,8253,2206,26.7,NaN
3141,Weston,Wyoming,0,7117,2073,29.1,NaN

In [32]:
county_cases_df

,date,county,state,fips,state_fips,county_fips,cases,deaths,new_day_cases,new_day_deaths,cases_per_capita_100k,deaths_per_capita_100k,new_day_cases_per_capita_100k,new_day_deaths_per_capita_100k,county_pop_2019_est,pop_per_sq_mile_2010
0,2020-01-21,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,0.121642,0.000000,0.000000,0.0,822083.0,341.8
1,2020-01-22,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,0.121642,0.000000,0.000000,0.0,822083.0,341.8
2,2020-01-23,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,0.121642,0.000000,0.000000,0.0,822083.0,341.8
3,2020-01-24,Cook,Illinois,17031,17,31,1,0,0.0,0.0,0.019417,0.000000,0.000000,0.0,5150233.0,5495.1
4,2020-01-24,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,0.121642,0.000000,0.000000,0.0,822083.0,341.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231301,2020-06-13,Sweetwater,Wyoming,56037,56,37,40,0,2.0,0.0,94.466618,0.000000,4.723331,0.0,42343.0,4.2
231302,2020-06-13,Teton,Wyoming,56039,56,39,104,1,0.0,0.0,443.232185,4.261848,0.000000,0.0,23464.0,5.3
231303,2020-06-13,Uinta,Wyoming,56041,56,41,71,0,9.0,0.0,351.033323,0.000000,44.497182,0.0,20226.0,10.1
231304,2020-06-13,Washakie,Wyoming,56043,56,43,38,3,0.0,0.0,486.867393,38.436899,0.000000,0.0,7805.0,3.8
231305,2020-06-13,Weston,Wyoming,56045,56,45,1,0,0.0,0.0,14.436264,0.000000,0.000000,0.0,6927.0,3.0

In [33]:
county_combined

,date,county,state,fips,state_fips,county_fips,cases,deaths,new_day_cases,new_day_deaths,...,deaths_per_capita_100k,new_day_cases_per_capita_100k,new_day_deaths_per_capita_100k,county_pop_2019_est,pop_per_sq_mile_2010,ICU Beds,Total Population,Population Aged 60+,Percent of Population Aged 60+,Residents Aged 60+ Per Each ICU Bed
0,2020-01-21,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,...,0.000000,0.000000,0.0,822083.0,341.8,72.0,771904.0,143234.0,18.6,1989.0
1,2020-01-22,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,...,0.000000,0.000000,0.0,822083.0,341.8,72.0,771904.0,143234.0,18.6,1989.0
2,2020-01-23,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,...,0.000000,0.000000,0.0,822083.0,341.8,72.0,771904.0,143234.0,18.6,1989.0
3,2020-01-24,Cook,Illinois,17031,17,31,1,0,0.0,0.0,...,0.000000,0.000000,0.0,5150233.0,5495.1,1606.0,5238541.0,1005046.0,19.2,626.0
4,2020-01-24,Snohomish,Washington,53061,53,61,1,0,0.0,0.0,...,0.000000,0.000000,0.0,822083.0,341.8,72.0,771904.0,143234.0,18.6,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231301,2020-06-13,Sweetwater,Wyoming,56037,56,37,40,0,2.0,0.0,...,0.000000,4.723331,0.0,42343.0,4.2,10.0,44527.0,7015.0,15.8,702.0
231302,2020-06-13,Teton,Wyoming,56039,56,39,104,1,0.0,0.0,...,4.261848,0.000000,0.0,23464.0,5.3,6.0,22923.0,4298.0,18.7,716.0
231303,2020-06-13,Uinta,Wyoming,56041,56,41,71,0,9.0,0.0,...,0.000000,44.497182,0.0,20226.0,10.1,6.0,20758.0,3554.0,17.1,592.0
231304,2020-06-13,Washakie,Wyoming,56043,56,43,38,3,0.0,0.0,...,38.436899,0.000000,0.0,7805.0,3.8,0.0,8253.0,2206.0,26.7,NaN
231305,2020-06-13,Weston,Wyoming,56045,56,45,1,0,0.0,0.0,...,0.000000,0.000000,0.0,6927.0,3.0,0.0,7117.0,2073.0,29.1,NaN

In [34]:
county_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231306 entries, 0 to 231305
Data columns (total 21 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   date                                 231306 non-null  object
 1   county                               231306 non-null  object
 2   state                                231306 non-null  object
 3   fips                                 231306 non-null  int64
 4   state_fips                           231306 non-null  int64
 5   county_fips                          231306 non-null  int64
 6   cases                                231306 non-null  int64
 7   deaths                               231306 non-null  int64
 8   new_day_cases                        231306 non-null  float64
 9   new_day_deaths                       231306 non-null  float64
 10  cases_per_capita_100k                231306 non-null  float64
 11  deaths_per_capita_100k               231306 non-null  float64
 12  new_day_cases_per_capita_100k        231306 non-null  float64
 13  new_day_deaths_per_capita_100k       231306 non-null  float64
 14  county_pop_2019_est                  231306 non-null  float64
 15  pop_per_sq_mile_2010                 231306 non-null  float64
 16  ICU Beds                             227045 non-null  float64
 17  Total Population                     227045 non-null  float64
 18  Population Aged 60+                  227045 non-null  float64
 19  Percent of Population Aged 60+       227045 non-null  float64
 20  Residents Aged 60+ Per Each ICU Bed  121824 non-null  float64
dtypes: float64(13), int64(5), object(3)
memory usage: 38.8+ MB

In [38]:
nobed_counties_df = county_combined.loc[county_combined['ICU Beds'].isna()]

In [40]:
len(nobed_counties_df['county'].unique())

60

In [41]:
county_cases_df['county'].nunique()

1781

### To-Do - continue with analysis and review 60 missing counties later