In [1]:
import pandas as pd

In [2]:
jhcounty_cases = pd.read_csv('Cases by day by county.csv')
jhcounty_cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,179,180,180,183,183,183,183,185,186,188
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,28,30,30,30,30,30,30,30,30,30
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,5046,5185,5329,5352,5536,5690,5811,5890,5951,6003
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,71,71,72,72,72,72,72,72,72,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,51,48,50,54,61,70,75,77,79,81
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,26,28,28,28,28,29,29,29,29,29
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,637,655,680,718,739,780,806,827,855,889
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,22,22,23,27,27,29,30,30,31,33
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,397,408,414,423,439,471,502,511,539,555

In [9]:
jhcounty_grouped_state = jhcounty_cases.groupby('Province_State')
jhcounty_grouped_state['3/27/2020'].sum()

Province_State
Alabama                       587
Alaska                         58
American Samoa                  0
Arizona                       665
Arkansas                      381
California                   4657
Colorado                     1738
Connecticut                  1291
Delaware                      163
Diamond Princess               49
District of Columbia          271
Florida                      2900
Georgia                      2000
Grand Princess                 28
Guam                           51
Hawaii                        106
Idaho                         205
Illinois                     3024
Indiana                       979
Iowa                          235
Kansas                        206
Kentucky                      301
Louisiana                    2744
Maine                         168
Maryland                      775
Massachusetts                3240
Michigan                     3848
Minnesota                     396
Mississippi                   579
Missouri                      744
Montana                       109
Nebraska                       82
Nevada                        536
New Hampshire                 158
New Jersey                   8825
New Mexico                    136
New York                    44876
North Carolina                887
North Dakota                   68
Northern Mariana Islands        0
Ohio                         1137
Oklahoma                      322
Oregon                        416
Pennsylvania                 2345
Puerto Rico                    79
Rhode Island                  203
South Carolina                542
South Dakota                   58
Tennessee                    1318
Texas                        1937
Utah                          472
Vermont                       184
Virgin Islands                 19
Virginia                      607
Washington                   3477
West Virginia                  76
Wisconsin                     926
Wyoming                        70
Name: 3/27/2020, dtype: int64

In [10]:
jhcounty_grouped_state['5/14/2020'].sum()

Province_State
Alabama                      11101
Alaska                         383
American Samoa                   0
Arizona                      12674
Arkansas                      4366
California                   74871
Colorado                     20838
Connecticut                  35464
Delaware                      7223
Diamond Princess                49
District of Columbia          6736
Florida                      43210
Georgia                      35977
Grand Princess                 103
Guam                           152
Hawaii                         637
Idaho                         2351
Illinois                     87937
Indiana                      26053
Iowa                         13675
Kansas                        7705
Kentucky                      7225
Louisiana                    33489
Maine                         1565
Maryland                     35903
Massachusetts                84460
Michigan                     53167
Minnesota                    13435
Mississippi                  10483
Missouri                     10683
Montana                        462
Nebraska                      9260
Nevada                        6504
New Hampshire                 3382
New Jersey                  142704
New Mexico                    5503
New York                    343051
North Carolina               16968
North Dakota                  1712
Northern Mariana Islands        19
Ohio                         26357
Oklahoma                      4963
Oregon                        3479
Pennsylvania                 63105
Puerto Rico                   2427
Rhode Island                 12016
South Carolina                8189
South Dakota                  3792
Tennessee                    16699
Texas                        44480
Utah                          6749
Vermont                        932
Virgin Islands                  69
Virginia                     27813
Washington                   17773
West Virginia                 1427
Wisconsin                    11275
Wyoming                        701
Name: 5/14/2020, dtype: int64

In [17]:
jhcounty_grouped_state['6/17/2020'].sum()

Province_State
Alabama                      27312
Alaska                         695
American Samoa                   0
Arizona                      40937
Arkansas                     13606
California                  162798
Colorado                     29656
Connecticut                  45429
Delaware                     10444
Diamond Princess                49
District of Columbia          9847
Florida                      82719
Georgia                      60030
Grand Princess                 103
Guam                           188
Hawaii                         744
Idaho                         3632
Illinois                    134185
Indiana                      41013
Iowa                         24460
Kansas                       11644
Kentucky                     12995
Louisiana                    48634
Maine                         2836
Maryland                     62969
Massachusetts               106151
Michigan                     66497
Minnesota                    31296
Mississippi                  20641
Missouri                     17069
Montana                        630
Nebraska                     17231
Nevada                       11854
New Hampshire                 5436
New Jersey                  167703
New Mexico                   10065
New York                    385142
North Carolina               46934
North Dakota                  3166
Northern Mariana Islands        30
Ohio                         42422
Oklahoma                      8904
Oregon                        6218
Pennsylvania                 84289
Puerto Rico                   6003
Rhode Island                 16213
South Carolina               20556
South Dakota                  6050
Tennessee                    32114
Texas                        97699
Utah                         15344
Vermont                       1130
Virgin Islands                  73
Virginia                     55775
Washington                   26784
West Virginia                 2376
Wisconsin                    23456
Wyoming                       1114
Name: 6/17/2020, dtype: int64

In [3]:
jhdeaths_df = pd.read_csv('Deaths by Day by county.csv')
jhdeaths_df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,5,5,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,2,2,2,2,2,2,2,2,2,2
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,142,142,143,144,146,146,147,147,147,147
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,0,0,0,0,0,0,0,0,0,0
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,0,0,0,0,0,0,0,0,0,0
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,4,4,4,4,5,5,5,7,7,8
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,0,0,0,0,0,0,0,0,0,0
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,8,8,8,8,9,9,9,9,9,9